### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/vcs.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.gitignore
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/.gitignore
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/inspectionProfiles/Project_Default.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/misc.xml
ava/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/modules.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/uiDesigner.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/trabalhando-com-arquivos.iml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/modules.xml
