### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/vcs.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.gitignore
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/.gitignore
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/inspectionProfiles/Project_Default.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/misc.xml
ava/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/modules.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/uiDesigner.xml
java/Udemy/nelio-alves/trabalhando-com-arquivos/trabalhando-com-arquivos.iml
java/Udemy/nelio-alves/trabalhando-com-arquivos/.idea/modules.xml

### Curso Spring boot ###
java/Udemy/nelio-alves/curso-spring-boot/.gitignore
java/Udemy/nelio-alves/curso-spring-boot/.mvn/wrapper/maven-wrapper.jar
java/Udemy/nelio-alves/curso-spring-boot/.mvn/wrapper/maven-wrapper.properties
java/Udemy/nelio-alves/curso-spring-boot/mvnw
java/Udemy/nelio-alves/curso-spring-boot/mvnw.cmd



java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/arqutetura-microsservicos.iml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/compiler.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/gradle.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/jarRepositories.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/misc.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/modules.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/vcs.xml




java/Udemy/vitornegrisoli/arqutetura-microsservicos/inventory-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/inventory-service/gradle/wrapper/gradle-wrapper.properties
java/Udemy/vitornegrisoli/arqutetura-microsservicos/inventory-service/gradlew
java/Udemy/vitornegrisoli/arqutetura-microsservicos/inventory-service/gradlew.bat
java/Udemy/vitornegrisoli/arqutetura-microsservicos/inventory-service/settings.gradle



java/Udemy/vitornegrisoli/arqutetura-microsservicos/orchestrator-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/orchestrator-service/gradle/wrapper/gradle-wrapper.properties
java/Udemy/vitornegrisoli/arqutetura-microsservicos/orchestrator-service/gradlew
java/Udemy/vitornegrisoli/arqutetura-microsservicos/orchestrator-service/gradlew.bat
java/Udemy/vitornegrisoli/arqutetura-microsservicos/orchestrator-service/settings.gradle


java/Udemy/vitornegrisoli/arqutetura-microsservicos/order-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/order-service/gradle/wrapper/gradle-wrapper.properties
java/Udemy/vitornegrisoli/arqutetura-microsservicos/order-service/gradlew
java/Udemy/vitornegrisoli/arqutetura-microsservicos/order-service/gradlew.bat
java/Udemy/vitornegrisoli/arqutetura-microsservicos/order-service/settings.gradle

java/Udemy/vitornegrisoli/arqutetura-microsservicos/payment-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/payment-service/gradle/wrapper/gradle-wrapper.properties
java/Udemy/vitornegrisoli/arqutetura-microsservicos/payment-service/gradlew
java/Udemy/vitornegrisoli/arqutetura-microsservicos/payment-service/gradlew.bat
java/Udemy/vitornegrisoli/arqutetura-microsservicos/payment-service/settings.gradle

java/Udemy/vitornegrisoli/arqutetura-microsservicos/product-validation-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/product-validation-service/gradle/wrapper/gradle-wrapper.properties
java/Udemy/vitornegrisoli/arqutetura-microsservicos/product-validation-service/gradlew
java/Udemy/vitornegrisoli/arqutetura-microsservicos/product-validation-service/gradlew.bat
java/Udemy/vitornegrisoli/arqutetura-microsservicos/product-validation-service/settings.gradle


java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/.gitignore
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/arqutetura-microsservicos.iml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/gradle.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/misc.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/modules.xml
java/Udemy/vitornegrisoli/arqutetura-microsservicos/.idea/vcs.xml


java/Udemy/vitornegrisoli/arqutetura-microsservicos/inventory-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/orchestrator-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/order-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/payment-service/gradle/wrapper/gradle-wrapper.jar
java/Udemy/vitornegrisoli/arqutetura-microsservicos/product-validation-service/gradle/wrapper/gradle-wrapper.jar











































